/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 3:17:21 PM
    Author     : root
*/
body{
    background-color: #fff;
    border: 10px solid #000;
}

